{#await components(block.type) then component}
    {#if block.content}
        <svelte:component this={component} {block}>
            {#each block.content as subblock}
                <svelte:self block={subblock} />
            {/each}
        </svelte:component>
    {:else}
        <svelte:component this={component} {block} />
    {/if}
{/await}

<script>
    import Bookmark from '../components/Bookmark.svelte'
    import BulletedList from '../components/BulletedList.svelte'
    import Callout from '../components/Callout.svelte'
    import Code from '../components/Code.svelte'
    // import Collection from '../components/Collection.svelte'
    import Column from '../components/Column.svelte'
    import ColumnList from '../components/ColumnList.svelte'
    import Divider from '../components/Divider.svelte'
    import Embed from '../components/Embed.svelte'
    import Header from '../components/Header.svelte'
    import Image from '../components/Image.svelte'
    import NumberedList from '../components/NumberedList.svelte'
    import Page from '../components/Page.svelte'
    import Quote from '../components/Quote.svelte'
    import SubHeader from '../components/SubHeader.svelte'
    import SubSubHeader from '../components/SubSubHeader.svelte'
    import Text from '../components/Text.svelte'
    import Todo from '../components/Todo.svelte'
    import Toggle from '../components/Toggle.svelte'
    import Tweet from '../components/Tweet.svelte'
    import Video from '../components/Video.svelte'

    export let block = {}

    const components = blockType =>
        ({
            // TODO: equation, table_of_contents, figma, maps, drive, pdf, audio
            // FIXME: page(link), collection_view, collection_view_page
            bookmark: Bookmark,
            bulleted_list: BulletedList,
            callout: Callout,
            code: Code,
            column: Column,
            column_list: ColumnList,
            divider: Divider,
            embed: Embed,
            pdf: Embed,
            file: Embed,
            header: Header,
            image: Image,
            numbered_list: NumberedList,
            page: Page,
            quote: Quote,
            sub_header: SubHeader,
            sub_sub_header: SubSubHeader,
            text: Text,
            toggle: Toggle,
            video: Video,
            tweet: Tweet,
            // collection_view: Collection,
            to_do: Todo,
        }[blockType])
</script>
