{#if block.format}
    <div class="notion-row">
        <a
            target="_blank"
            rel="noopener noreferrer"
            class={`notion-bookmark ${
                block.format.block_color && 'notion-' + block.format.block_color
            }`}
            href={block.properties.link[0][0]}
        >
            <div>
                <div class="notion-bookmark-title">
                    <FormattedText {block} />
                </div>
                <div class="notion-bookmark-description">
                    {formatText(block.properties.description)}
                </div>
                <div class="notion-bookmark-link">
                    <img
                        src={block.format.bookmark_icon}
                        alt={getTextContent(block)}
                    />
                    <div>{formatText(block.properties.link)}</div>
                </div>
            </div>
            <div class="notion-bookmark-image">
                <img
                    src={block.format.bookmark_cover}
                    alt={getTextContent(block)}
                />
            </div>
        </a>
    </div>
{/if}

<script>
    import { getTextContent } from '../utils.js'
    import FormattedText, {
        formatText,
    } from '../subcomponents/FormattedText.svelte'
    export let block = {}
</script>
