{#if isListItem}
    <li>
        <FormattedText {block} />
        {#if block.content}
            <ul class="notion-list notion-list-disc">
                <slot />
            </ul>
        {/if}
    </li>
{:else}
    <ul class="notion-list notion-list-disc">
        {#if block.properties}
            <li>
                <FormattedText {block} />
            </li>
        {/if}
        {#if block.content}
            <ul class="notion-list notion-list-disc">
                <slot />
            </ul>
        {/if}
    </ul>
{/if}

<script>
    import { blocks } from '../stores'
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}

    const isListItem =
        $blocks.find(el => el.id === block.parent_id)?.type === 'bulleted_list'
</script>
