<div
    class={`notion-callout ${
        block.format.block_color && 'notion-' + block.format.block_color + '_co'
    }`}
>
    <div>
        <PageIcon {block} />
    </div>
    <div class="notion-callout-text">
        <FormattedText {block} />
    </div>
</div>

<script>
    import PageIcon from '../subcomponents/PageIcon.svelte'
    import FormattedText from '../subcomponents/FormattedText.svelte'

    export let block = {}
</script>
