{#if tableData && tableData.name}
    <div class="notion-collection" id={tableData.name}>
        <h2>{tableData.name}</h2>
        <figure class="notion-collection-figure">
            <table class="notion-collection-table">
                {#if tableData.columns}
                    <thead>
                        <tr>
                            {#each tableData.columns as column}
                                <th>{column.name}</th>
                            {/each}
                        </tr>
                    </thead>
                {/if}
                {#if tableData.columns}
                    <tbody>
                        {#each tableData.rows as row}
                            <tr>
                                {#each tableData.columns as column}
                                    <td>
                                        {#if row[column.name]}
                                            {#if Array.isArray(row[column.name])}
                                                {#if typeof row[column.name][0] === 'object'}
                                                    {#each row[column.name] as attachment, id}
                                                        {#if isImage(attachment)}
                                                            <!-- images -->
                                                            <a
                                                                href={`${apiUrl}/v1/file?url=${attachment.rawUrl}&blockId=${row.id}`}
                                                                target="_blank"
                                                            >
                                                                <img
                                                                    class="notion-collection-image"
                                                                    alt={attachment.name}
                                                                    src={attachment.url}
                                                                />
                                                            </a>
                                                        {:else}
                                                            <!-- file attachment -->
                                                            <a
                                                                href={`${apiUrl}/v1/file?url=${attachment.rawUrl}&blockId=${row.id}`}
                                                                target="_blank"
                                                                >{attachment.name}</a
                                                            >
                                                        {/if}
                                                    {/each}
                                                {:else}
                                                    <!-- multiple select -->
                                                    {row[column.name].join(
                                                        ', '
                                                    )}
                                                {/if}
                                            {:else}
                                                <!-- strings and such -->
                                                {row[column.name]}
                                            {/if}
                                            <!-- other cols like users are not supported right now -->
                                        {/if}
                                    </td>
                                {/each}
                            </tr>
                        {/each}
                    </tbody>
                {/if}
            </table>
        </figure>
    </div>
{/if}

<script>
    // import FormattedText from '../subcomponents/FormattedText.svelte'
    import { apiUrl } from '../stores'
    export let block = {}
    export let tableData = {}
    // export let columns

    // const request = fetch(`${apiUrl}/v1/table/${block.id}`)
    const request = fetch(`${apiUrl}/v1/collection/${block.id}`)
        .then(res => res.json())
        .then(json => {
            tableData = json
            // console.log('children:', tableData)
            // console.log('collection:', block, tableData, columns)
            return json
        })

    let url, filename

    // if(block.properties.source && block.type == 'file') {
    //   url = new URL(block.properties.source[0][0])
    //   console.log('what', url, typeof(url))
    //   let skip = '/secure.notion-static.com/'
    //   filename = url.pathname.substring(url.pathname.lastIndexOf('/')+1)
    // }

    // if(!display_source) {
    //   get()
    // }

    // async function get() {
    //   const request = fetch(`https://${apiUrl}/v1/asset?url=${block.properties.source[0][0]}&blockId=${block.id}`)
    //     .then(res => res.json())
    //     .then(json => {
    //         if(json['signedUrls'] && json['signedUrls'][0])
    //           display_source = json['signedUrls'][0]
    //           console.log('src url:', url, filename)
    //         return json})

    // }

    function isImage(attachment) {
        let name = attachment.name
        return (
            name.includes('.png') ||
            name.includes('.jpg') ||
            name.includes('.jpeg') ||
            name.includes('.tiff') ||
            name.includes('.gif') ||
            name.includes('.bmp') ||
            name.includes('.webp')
        )
    }
</script>
