<div class="notion-column" style={`width: ${width}`}>
    <slot />
</div>

<script>
    import { isFullPage } from '../stores'
    export let block = {}

    const max = $isFullPage ? '100vw' : '708px'
    const columns = 1 / block.format?.column_ratio
    const totalSpacerWidth = (columns - 1) * 46
    const width = `calc((${max} - ${totalSpacerWidth}px) / ${columns})`
</script>
