{#if block.type == 'file'}
    <div
        style={`padding-bottom: ${
            (block_height / block_width) * 100
        }%; position: relative`}
    >
        <!-- <iframe class="notion-image-inset" src={display_source} title={alt} /> -->
        <a href={display_source} alt="download file">{filename}</a>
    </div>
{:else}
    <figure class="notion-asset-wrapper" style={`width: ${block_width}px`}>
        <!-- <div style={`padding-bottom: ${(block_height / block_width) * 100}%; position: relative`}> -->
        <div style={`padding-bottom: ${frame_height}; position: relative`}>
            <iframe
                bind:this={frame}
                class="notion-image-inset"
                src={display_source}
                title={alt}
            />
        </div>
        {#if block.properties.caption}
            <figcaption class="notion-image-caption">
                <FormattedText {block} />
            </figcaption>
        {/if}
    </figure>
{/if}

<script>
    import { apiUrl } from '../stores'
    import { toNotionImageUrl } from '../utils.js'
    import FormattedText from '../subcomponents/FormattedText.svelte'

    export let block = {}

    const format = block.format ? block.format : null
    let { block_height, block_width, display_source } = format ? format : {}
    let frame,
        frame_height = (block_height / block_width) * 100 + '%'

    // if embedded sends a postMessage for height, use that
    window.addEventListener(
        'message',
        event => {
            // console.log('event????:', event.origin, display_source, display_source.includes(event.origin), event.data, event.data[1])
            if (display_source.includes(event.origin)) {
                // make sure it's the embedded site's event
                // get an array of [outerW, outerH, clientW, clientH]
                // console.log('event:', event.origin, display_source, event.data, event.data[1])
                if (Array.isArray(event.data) && event.data[3])
                    frame_height = event.data[3] + 'px' // event.data[1] / event.data[0] * 100
            }
            // event.data should be
        },
        false
    )

    const alt =
        block.properties && block.properties.caption
            ? block.properties.caption[0][0]
            : ''

    let src =
        block.properties && block.properties.source
            ? toNotionImageUrl(block.properties.source[0][0], block.id)
            : block.properties.source[0][0]

    let url, filename

    if (block.properties && block.properties.source && block.type == 'file') {
        url = new URL(block.properties.source[0][0])
        let skip = '/secure.notion-static.com/'
        filename = url.pathname.substring(url.pathname.lastIndexOf('/') + 1)
    }

    if (!display_source) {
        get()
    }

    // embed is a file, not an image
    async function get() {
        const request = fetch(
            `${apiUrl}/v1/asset?url=${block.properties.source[0][0]}&blockId=${block.id}`
        )
            .then(res => res.json())
            .then(json => {
                if (json['signedUrls'] && json['signedUrls'][0])
                    display_source = json['signedUrls'][0]
                console.log('src url:', url, filename)
                return json
            })
    }

    // console.log('src:', src)
</script>
