{#if format}
    <figure class="notion-asset-wrapper" style={`width: ${block_width}px`}>
        {#if block_aspect_ratio}
            <div style={`padding-bottom: ${block_aspect_ratio * 100}%`}>
                <img class="notion-image-inset" {alt} {src} />
            </div>
        {:else}<img {alt} {src} />{/if}
        {#if block.properties.caption}
            <figcaption class="notion-image-caption">
                <FormattedText {block} />
            </figcaption>
        {/if}
    </figure>
{/if}

<script>
    import { getTextContent, toNotionImageUrl } from '../utils.js'
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}

    const format = block.format ? block.format : null
    const { block_aspect_ratio, block_width } = format ? format : null
    const alt = block.properties.caption ? block.properties.caption[0][0] : ''
    let src = block.properties.source
        ? toNotionImageUrl(block.properties.source[0][0], block.id)
        : ''
</script>

<style>
    figure div {
        position: relative;
    }
</style>
