{#if isListItem}
    <li>
        <FormattedText {block} />
        {#if block.content}
            <ol class="notion-list notion-list-numbered">
                <slot />
            </ol>
        {/if}
    </li>
{:else}
    <ol class="notion-list notion-list-numbered" start={getIndex()}>
        {#if block.properties}
            <li>
                <FormattedText {block} />
            </li>
        {/if}
        {#if block.content}
            <ol class="notion-list notion-list-numbered">
                <slot />
            </ol>
        {/if}
    </ol>
{/if}

<script>
    import { blocks } from '../stores'
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}

    const isListItem =
        $blocks.find(el => el.id === block.parent_id)?.type === 'numbered_list'

    const getIndex = () =>
        $blocks.find(el => el.id === block.parent_id)?.content?.indexOf(block) +
        1
</script>
