{#if block.permissions}
    {#if $isFullPage}
        {#if block.properties}
            <div class="notion">
                {#if page_cover}
                    <img
                        src={toNotionImageUrl(page_cover, block.id)}
                        alt={getTextContent(block)}
                        class="notion-page-cover"
                        style={`object-position: center ${coverPosition}%`}
                    />
                {/if}
                <div
                    class={`notion-page ${
                        !page_cover && 'notion-page-offset'
                    } ${page_full_width && 'notion-full-width'} ${
                        page_small_text && 'notion-small-text'
                    }`}
                >
                    {#if page_icon}
                        <PageIcon
                            class={page_cover
                                ? 'notion-page-icon-offset'
                                : undefined}
                            {block}
                            big
                        />
                    {/if}
                    <div class="notion-title">
                        <FormattedText {block} />
                    </div>
                    <slot />
                </div>
            </div>
        {/if}
    {:else}
        <div class="notion">
            <slot />
        </div>
    {/if}
{:else if block.properties}
    <a class="notion-page-link" href={`/${block.id}`}>
        {#if block.format}
            <div class="notion-page-icon">
                <PageIcon {block} />
            </div>
        {/if}
        <div class="notion-page-text">
            <FormattedText {block} />
        </div>
    </a>
{/if}

<script>
    import { isFullPage } from '../stores'
    import { getTextContent, toNotionImageUrl } from '../utils.js'
    import FormattedText from '../subcomponents/FormattedText.svelte'
    import PageIcon from '../subcomponents/PageIcon.svelte'

    export let block = {}

    const {
        page_icon,
        page_cover,
        page_cover_position,
        page_full_width,
        page_small_text,
    } = block.format ? block.format : {}

    const coverPosition = (1 - (page_cover_position || 0.5)) * 100
</script>
