<blockquote class="notion-quote">
    <FormattedText {block} />
</blockquote>

<script>
    import { getTextContent } from '../utils.js'
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}
</script>
