{#if block.properties && block.properties.title}
    <p class="notion-text">
        <FormattedText {block} />
    </p>
{:else if block.properties && block.properties.caption}
    <span class="notion-text">
        <FormattedText {block} />
    </span>
{:else}
    <div class="notion-blank" />
{/if}

<script>
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}
</script>
