{#if isListItem}
    <li>
        <input type="checkbox" disabled checked={isChecked} />
        {#if isChecked}
            <s><FormattedText {block} /></s>
        {:else}
            <FormattedText {block} />
        {/if}
        {#if block.content}
            <ul class="notion-list notion-list-todo">
                <slot />
            </ul>
        {/if}
    </li>
{:else}
    <ul class="notion-list notion-list-todo">
        {#if block.properties}
            <li>
                <input type="checkbox" disabled checked={isChecked} />
                {#if isChecked}
                    <s><FormattedText {block} /></s>
                {:else}
                    <FormattedText {block} />
                {/if}
            </li>
        {/if}
        {#if block.content}
            <ul class="notion-list notion-list-todo">
                <slot />
            </ul>
        {/if}
    </ul>
{/if}

<script>
    import { blocks } from '../stores'
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}

    let isChecked = block.properties?.checked?.[0]?.[0] === 'Yes'

    const isListItem =
        $blocks.find(el => el.id === block.parent_id)?.type === 'to_do'
</script>
