<details class="notion-toggle">
    <summary>
        <FormattedText {block} />
    </summary>
    <div>
        <slot />
    </div>
</details>

<script>
    import FormattedText from '../subcomponents/FormattedText.svelte'
    export let block = {}
</script>

<style>
    summary {
        white-space: nowrap;
        margin-left: 0;
    }
</style>
