{#if href}
    <div>
        <blockquote class="twitter-tweet" data-lang="en">
            <a {href}>Tweet from {href}.</a>
            <script
                async
                src="https://platform.twitter.com/widgets.js"
                charset="utf-8"></script>
        </blockquote>
    </div>
{/if}

<script>
    export let block = {}
    let href = block.properties?.source?.[0]?.[0]
</script>
