<div class={$isFullPage ? '' : 'regular-page'}>
    {#if id}
        {#await request}
            Loading...
        {:then block}
            <Render {block} />
        {:catch error}
            An error occurred.
            <br />
            {error}
        {/await}
    {/if}
</div>

<script>
    import { apiUrl, isFullPage, blocks } from './stores'
    import './styles.css'
    import Render from './subcomponents/Render.svelte'

    export let api = $apiUrl
    export let fullPage = $isFullPage
    export let id = null

    $apiUrl = api
    $isFullPage = fullPage

    const blockMap = (blocks, id) => {
        if (!id) id = blocks.find(el => el.type === 'page').id
        const blockElement = blocks.find(el => el.id === id)
        if (blockElement?.content)
            blockElement.content = blockElement.content.map(contentId => {
                return blockMap(blocks, contentId)
            })
        return blockElement
    }

    const request = fetch(`${api}/v1/page/${id}`)
        .then(res => res.json())
        .then(json => {
            const blockValues = Object.values(json).map(el => el.value)
            $blocks = [...blockValues]
            return blockMap(blockValues)
        })
</script>

<style>
    .regular-page {
        max-width: 708px;
        margin: 0 auto;
        padding: 0 8px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
            'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
            'Segoe UI Symbol';
    }
</style>
